@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
#hero {
  background-color: white;
  background-size: cover;
  background-position: top center;
}

#hero .profile_image {
  max-width: 900px;
  border-radius: 500px;
  height: 490px;
  opacity: 0;
  animation: profile_reveal 2s ease forwards;
  animation-delay: 3.5s;
}

#hero .profile {
  display: block;
  position: absolute;
  right: 50px;
  top: 150px;
}

#hero .hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: auto 50px;
  padding-left: 60px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  color: transparent;
  font-size: 65px;
  position: relative;
  animation: text_reveal 1s ease forwards;
  animation-delay: 1.3s;
}

#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation-delay: 3.5s;
  animation: text_name 1s ease forwards;
  animation-delay: 3s;
}

#hero .cta {
  display: inline-block;
  border: 2px solid transparent;
  color: transparent;
  padding: 5px 5px;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.5s ease background-color;
  width: 180px;
  text-align: center;
  animation: button_reveal 1s ease forwards;
  animation-delay: 4s;
  transition: 0.5s ease box-shadow;
}

#hero .cta:hover {
  color: crimson;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#hero h1 span {
  position: absolute;
  background-color: crimson;
  height: 95%;
  width: 0%;
  left: 0;
  top: 0;
  animation: text_box 1s ease;
  animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}

.scroll_down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 49%;
  bottom: 30px;
  border-radius: 50px;
}

.scroll_down::before,
.scroll_down::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
  animation-delay: 5s;
}
/* End Hero Section*/

/* Skills Section */
.skillheading {
  font-size: 65px;
  text-align: center;
}

.skillheading span {
  color: crimson;
}

.skillpara {
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.card {
  max-width: 380px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image" "text";
  border-radius: 10px;
  background: crimson;
  float: left;
  text-align: center;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
  transition: 0.5s ease box-shadow;
}

.card:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-image {
  grid-area: image;
  background: url(./images/hero-bg.png);
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  padding: 50px;
  padding-top: 25px;
  text-align: left;
}

.card-text h2 {
  color: white;
  font-size: 25px;
}

.card-text p {
  color: white;
  font-size: 15px;
  padding-top: 10px;
}
/* End of Skills Section */

/* About Me */
.header .aboutheader {
  font-size: 65px;
  text-align: center;
}

.header .aboutheader span {
  color: crimson;
}

.header .aboutpara {
  font-size: 20px;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}

.header .cta {
  border: 2px solid crimson;
  color: crimson;
  font-size: 15px;
  font-weight: 550;
  padding: 8px;
  margin-left: 45%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  transition: 0.5s ease background-color;
}

.header .cta:hover {
  color: white;
  background-color: crimson;
}

.header .aboutimage {
  height: 300px;
  border-radius: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
}
/* End About Me */

/* Keyframes Section */
@keyframes text_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: black;
  }
}

@keyframes button_reveal {
  100% {
    border: 2px solid crimson;
    color: crimson;
  }
}

@keyframes profile_reveal {
  100% {
    opacity: 100%;
  }
}

@keyframes text_name {
  100% {
    color: crimson;
    font-weight: 1000;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    border-color: crimson;
  }
  30% {
    opacity: 1;
    border-color: crimson;
  }
  60% {
    opacity: 1;
    border-color: crimson;
  }
  100% {
    opacity: 0;

    top: 90%;
  }
}
/* End Keyframes Section*/

/* Footer */
.footermain {
  padding-top: 20px;
}
.footer {
  background-color: black;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.insta,
.twitt,
.linked {
  height: 25px;
  padding-right: 10px;
}

.footer h2 {
  padding-top: 15px;
}
/* End of Footer */

/* Form */
.form-box {
  height: 480px;
  width: 380px;
  background-color: crimson;
  position: relative;
  margin: 6% auto;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.contact-header {
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.input-field {
  top: 100px;
  width: 350px;
  position: absolute;
}

.text-field {
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: 2px solid white;
}

::placeholder {
  color: white;
}

.message-field {
  margin-top: 40px;
  margin-left: 20px;
  background: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}

.submit-btn {
  margin-top: 15px;
  margin-left: 130px;
  padding: 10px;
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.5s;
  animation: 1s ease;
}

.submit-btn:hover {
  background: white;
  color: crimson;
}
/* End of Form */

/* Media Query for Tablet

@media only screen and (min-width: 700px) {
  .profile {
    max-width: 1600px;
    padding-left: 900px;
  }
}
/* End of Media Query for Tablet */

/* Media Query for Mobile

@media only screen and (min-width: 200px) {
  .profile_image {
    display: none;
  }
  .cards {
    margin-left: 100px;
  }
}
/* End of Media Query for Mobile */
