@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
#hero {
  background-color: white;
  background-size: cover;
  background-position: top center;
}

#hero .profile_image {
  max-width: 900px;
  border-radius: 500px;
  height: 490px;
  opacity: 0;
  animation: profile_reveal 2s ease forwards;
  animation-delay: 3.5s;
}

#hero .profile {
  display: block;
  position: absolute;
  right: 50px;
  top: 150px;
}

#hero .hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: auto 50px;
  padding-left: 60px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  color: transparent;
  font-size: 65px;
  position: relative;
  animation: text_reveal 1s ease forwards;
  animation-delay: 1.3s;
}

#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation-delay: 3.5s;
  animation: text_name 1s ease forwards;
  animation-delay: 3s;
}

#hero .cta {
  display: inline-block;
  border: 2px solid transparent;
  color: transparent;
  padding: 5px 5px;
  font-size: 20px;
  margin-top: 5px;
  transition: 0.5s ease background-color;
  width: 180px;
  text-align: center;
  animation: button_reveal 1s ease forwards;
  animation-delay: 4s;
}

#hero .cta:hover {
  color: white;
  background-color: crimson;
}

#hero h1 span {
  position: absolute;
  background-color: crimson;
  height: 95%;
  width: 0%;
  left: 0;
  top: 0;
  animation: text_box 1s ease;
  animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}

.scroll_down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 30px;
  border-radius: 50px;
}

.scroll_down::before,
.scroll_down::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
  animation-delay: 5s;
}

/* End Hero Section*/

/* Skills Section */
#skills {
  position: relative;
}

#skills .skills {
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
}

#skills .skills-top {
  position: absolute;
  top: 0;
  padding-bottom: 15px;
}

#skills .skills-top p {
  font-size: 18px;
  padding-bottom: 15px;
  max-width: 1200px;
  letter-spacing: 1px;
}

#skills .section-heading {
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 2;
  padding-bottom: 10px;
}

#skills img {
  padding-top: 25px;
  height: 150px;
}

#skills .skills_icon {
  padding-bottom: 15px;
}

#skills .card1,
.card2,
.card3 {
  padding-bottom: 15px;
}

#skills .skills-botto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 200px;
}

#skills .cards {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-image: url(./images/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  padding: 30px;
}

#skills .cards h2 {
  color: crimson;
  font-size: 20px;
  margin-bottom: 10px;
}

#skills .cards p {
  font-size: 20px;
  color: red;
  text-align: left;
}
/* End Skills Section */

/* Cards Section */
.card {
  max-width: 380px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px;
  grid-template-areas: "image" "text";
  border-radius: 10px;
  background: crimson;

  text-align: center;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card:hover {
  animation: skills_shadow 0.5s ease-in-out forwards;
}

.card-image {
  grid-area: image;
  background: url(./images/hero-bg.png);
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  padding: 50px;
  padding-top: 25px;
  text-align: left;
}

.card-text h2 {
  color: white;
  font-size: 25px;
}

.card-text p {
  color: white;
  font-size: 15px;
  padding-top: 10px;
}

/* End Cards Section */

/* Keyframes Section */
@keyframes text_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: black;
  }
}

@keyframes button_reveal {
  100% {
    border: 2px solid crimson;
    color: crimson;
  }
}

@keyframes profile_reveal {
  100% {
    opacity: 100%;
  }
}

@keyframes text_name {
  100% {
    color: crimson;
    font-weight: 1000;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    border-color: crimson;
  }
  30% {
    opacity: 1;
    border-color: crimson;
  }
  60% {
    opacity: 1;
    border-color: crimson;
  }
  100% {
    opacity: 0;

    top: 90%;
  }
}

@keyframes skills_shadow {
  100% {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
}
/* End Keyframes Section*/
